.grid-container {
  margin-top: 2%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.grid-option {
  background: var(--box-color);
  color: #fff;
  text-align: center;
  height: 450px;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}

.upload-title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 3%;
}

.upload-steps {
  font-size: 20px;
  margin-top: 10%;
}
