@import url("https://fonts.googleapis.com/css?family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");

body {
  font-family: "Maven Pro", sans-serif;
  background: whitesmoke;
}
/* start of grid */

:root {
  --box-color: #373142;
  --box-shadow: 2px 6px lightgrey;
}

.container {
  margin-left: 1%;
  margin-right: 1%;
}

.nav-new-user {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  grid-gap: 0px;
  width: 100vw;
  background: rgb(194, 191, 191);
  height: 1%;
}

.nav-link {
  display: inline-block;
  line-height: 36px;
  margin-left: 12px;
  text-align: center;
}

.nav-right {
  margin-left: 15px;
}

.nav-left {
  margin-right: 15px;
}

.content-link {
  color: plum;
}

a.content-link.visited {
  color: plum;
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}

/* Small (sm) */
@media (min-width: 640px) {
  /* ... */
  .title {
    font-size: 80px;
    display: block;
  }
}

/* Medium (md) */
@media (max-width: 768px) {
  .second-option {
    font-size: 40px;
    margin-top: 40px;
  }
}

/* Large (lg) */
@media (min-width: 1024px) {
  /* ... */
  .title {
    font-size: 160px;
    display: inline-block;
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  /* ... */
  .title {
    font-size: 180px;
    display: inline-block;
  }
}
