@import url("https://fonts.googleapis.com/css?family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");

body {
  font-family: "Maven Pro", sans-serif;
  background: whitesmoke;
}
/* start of grid */

:root {
  --box-color: #373142;
  --box-shadow: 2px 6px lightgrey;
}

.container {
  margin-left: 1%;
  margin-right: 1%;
}

/* Home Grid Container */
.home-container {
  margin-top: 5px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 50vw);
  grid-gap: 5px;
  margin-left: 0.25%;
  margin-right: 0.25%;
  overflow: hidden;
}

div.container-items {
  background: var(--box-color);
  color: #fff;
  line-height: 100px;
}

div.container-items:nth-child(1) {
  grid-area: 1 / 1 / span -3 / span 1;
}

div.container-items:nth-child(2) {
  grid-area: 1 / 2 / span 3 / span 1;
}

/* div.container-items:nth-child(1) {
  grid-area: 2 / 1 / span 1 / span 3;
} */
/* div.container-items:nth-child(6) {
  grid-area: 4 / 1 / span 1 / span 3;
}  */

/* end of grid */

.home-title {
  background: url("./assets/james-stamler-k3heD_KwH0A-unsplash.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  font-family: "Audiowide", cursive;
  font-size: 80px;
}
.nav-bar {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  grid-gap: 0px;
  width: 100vw;
  background: rgb(194, 191, 191);
  height: 1%;
}

.nav-link {
  display: inline-block;
  line-height: 36px;
  margin-left: 12px;
  text-align: center;
}

.nav-right {
  margin-left: 15px;
}

.nav-left {
  margin-right: 15px;
}

.content-link {
  color: plum;
}

a.content-link.visited {
  color: plum;
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}

/* Small (sm) */
@media (min-width: 640px) {
  /* ... */
  .title {
    font-size: 80px;
    display: block;
  }
}

/* Medium (md) */
@media (min-width: 768px) {
  /* ... */
  .title {
    font-size: 120px;
    display: inline-block;
  }
}

/* Large (lg) */
@media (min-width: 1024px) {
  /* ... */
  .title {
    font-size: 160px;
    display: inline-block;
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  /* ... */
  .title {
    font-size: 180px;
    display: inline-block;
  }
}
