.grid-container {
  margin-top: 2%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin-bottom: 40vh;
}

.grid-option {
  text-align: center;
  width: 30vw;
  height: 60vh;
  margin: auto;
  background: white;
  font-size: 30px;
  color: #373142;
  margin-top: 2%;
  box-shadow: var(--box-shadow);
}

.upload-title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 3%;
}

.upload-steps {
  font-size: 20px;
  margin-top: 10%;
}

textarea {
  background: whitesmoke;
  border: none;
  padding: 5px;
  width: 20vw;
  height: 5vh;
  margin-top: 1%;
}

div.grid-option:nth-child(2) > form:nth-child(2) > input:nth-child(3) {
  width: 20vw;
  height: 5vh;
  border: none;
  background: #373142;
  color: white;
  font-size: 15px;
  margin-top: 18px;
}

div.grid-option:nth-child(2) > form:nth-child(2) > input:nth-child(3):hover {
  background: #ecd08d;
  color: #373142;
}

div.grid-option:nth-child(1) > form:nth-child(2) > button:nth-child(3) {
  width: 20vw;
  height: 5vh;
  border: none;
  background: #373142;
  color: white;
  font-size: 15px;
  margin-top: 18px;
}

div.grid-option:nth-child(1) > form:nth-child(2) > button:nth-child(3):hover {
  background: #ecd08d;
  color: #373142;
}
