.second-home-container {
  margin-top: 10px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(5, 5fr);
  grid-gap: 10px;
  margin-left: 0.25%;
  margin-right: 0.25%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 7.7vh;
}

.second-option {
  background: white;
  color: var(--box-color);
  font-size: 60px;
  box-shadow: var(--box-shadow);
  padding-top: 125px;
  padding-bottom: 125px;
}

@media (max-width: 670px) {
  .second-home-container {
    grid-template-columns: repeat(1, 100vw);
    margin-top: 0 !important;
  }
  .second-option {
    font-size: 30px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0 !important;
  }
}
